.pagi{
    display: flex;
    border: 2px solid red;
    border-radius: 50px;
    background-color: black;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
   
}

.mybutton {
    
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
    
  }


/* .myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

         */